<ion-header>
  <ion-toolbar>
    <ion-title>Home</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="gotoAdd()">
        <ion-icon name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>
    <ion-title>Welcome </ion-title>
  </h2>

  <ion-card *ngFor="let one_data of data">
    <ion-card-header (click)="displayOne()">
      <ion-card-title>{{one_data.payload.doc.get('title')}}</ion-card-title>
    </ion-card-header>
    <ion-card-content [routerLink]="['/item-add/', one_data.payload.doc.id]">
      {{one_data.payload.doc.get('description')}}
    </ion-card-content>
  </ion-card>

</ion-content>

<ion-footer style="background-color: white;">

  <ion-button expand="block" color="danger" (click)="logout()">Logout</ion-button>

</ion-footer>